<app-toolbar></app-toolbar>
<ion-content>
  <ion-row>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/IWBxUB0NV-U/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/5bfdsOYNLaQ/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Beliya - Gurnam Bhullar | lekh | Slowed Reverb | Chill|Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/bqzL9fqDnpw/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">TWajah Tum Ho - Slowed & Reverb l Armaan Malik </p>
          <h5 class="channel-info">Anamul Hoque Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/B8Dqc7oiOik/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Jamila - Ultra Beats (Long Version) l kkaka Errtw </p>
          <h5 class="channel-info">Anamul Hoque Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/FydC4cU2bHM/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/omSgZSwjYrw/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/tGWCjTS0_KE/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/yI9U4W76icg/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/X7WK5mTE75k/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/vY0z5CruzSs/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/JtnPpxe8K7c/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/qzqK8Atw4Jk/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/xzFbFNYh2j0/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/l66hZkt21iw/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/gQcqGrt07Cw/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/IWBxUB0NV-U/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/aU4xEx21URI/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/BoSDTCSaoaM/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/MsGgvG4EFE0/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/Ky2zXNojr_I/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/Bypua6TGgQg/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/lNp0v_zN6qI/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/8sQFQe1ZESk/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/f_uSwftLQ7Y/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/29u70IpaQac/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/azHbsWaJDUc/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/70lqaMfouRw/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <div class="video-list">
        <img class="video-thumbnill" src="https://img.youtube.com/vi/IWBxUB0NV-U/mqdefault.jpg" alt="">
        <div class="video-info">
          <div class="channel-img">
            <img src="./../../assets/rafi.jpg">
          </div>
          <p class="video-title">Tera Hone Laga Hoon ( slowed + reverb ) l Atif Aslam l Rafi</p>
          <h5 class="channel-info">Rafi <br>
            2M views . 15 days ago
          </h5>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container>
   -->

</ion-content>