<app-toolbar></app-toolbar>
<ion-content>
  <ion-row>
    <ion-col sizeXs="12" sizeSm="12" sizeMd="8">
      <ion-row>
        <ion-col size="12">
          <img style="width: 100%;height: 450px" src="https://img.youtube.com/vi/rrT6v5sOwJg/mqdefault.jpg" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <h1 style="margin-bottom: 0px">Making Material Design</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <p style="margin-bottom: 0px">1,321,742 views May 29, 2015</p>
        </ion-col>
        <ion-col size="8">
          <div style="text-align: right">
            <button mat-button type="button">
              <ion-icon name="heart"></ion-icon>
              22k LIkes
            </button>
            <button mat-button type="button">
              <ion-icon name="heart-dislike-outline"></ion-icon>
              22k disLIkes
            </button>
            <button mat-button type="button">
              <ion-icon name="share-social"></ion-icon>
              Share
            </button>
            <button mat-button type="button">
              <ion-icon name="save-outline"></ion-icon>
              Save
            </button>
          </div>
        </ion-col>
      </ion-row>
      <mat-divider> </mat-divider> <br>

      <ion-row>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="6">
          <div style="width: 100%; height: 50px;">
            <div style="width: 50px;height: 50px; float: left;">
              <img style="border-radius:100%;" src="./../../assets/rafi.jpg">
            </div>
            <div style="margin-left: 50px;height: 50px; padding-top: 6px;">
              <p style=" margin-left: 15px; font-weight:500; font-size: larger;">Google Design <br>
                <span style="font-size:smaller ; font-weight: 400;color: #818181;">194K Subscribers</span>
              </p>
            </div>
          </div>

          <!-- <ion-item>
            <ion-avatar slot="start">
              <img src="./../../assets/rafi.jpg">
            </ion-avatar>
            <ion-label>Google Design <br>
              <p style="margin-bottom: 0px">194K Subscribers</p>
            </ion-label>
          </ion-item> -->

        </ion-col>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="6">
          <div class="subscribe-button"><button color="warn" mat-flat-button>SUBSCRIBE</button></div>

        </ion-col>
        <ion-col size="12">
          <p style="padding: 5px">A behind-the-scenes look at building Google's visual framework. Find out more about
            material design at
            www.google.com/design.</p>
        </ion-col>
      </ion-row>

      <mat-divider> </mat-divider>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="12" sizeMd="4" class="video-list">
      <div class="single-video">
        <ion-row>
          <ion-col size="5">
            <img style="width: 185px; height: 102px;" src="https://img.youtube.com/vi/BISC15OPeGA/mqdefault.jpg">
          </ion-col>
          <ion-col size="7">
            <ion-row>
              <ion-col style="margin:0px; padding: 0px ;" size="12">
                <h6 style="margin:0px;"> 5 Best Design System and <br> How to Learn (and Steal) Form ... </h6>
                <ion-row>
                  <ion-col>
                    <p style=" font-size:small;">Designer Up <br>
                      51K Views . 2 years ago
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
      <div class="single-video">
        <ion-row>
          <ion-col size="5">
            <img style="width: 185px; height: 102px;" src="https://img.youtube.com/vi/CgjlftJNfKc/mqdefault.jpg">
          </ion-col>
          <ion-col size="7">
            <h6 style="margin:0px;"> BOOSTRAP VS MATERIAL -<br> THERE SHOULD BE A CLEAR... </h6>
            <p style=" font-size:small;">TECH IN 5 MINUTES <br>
              51K Views . 1 years ago
            </p>
          </ion-col>
        </ion-row>
      </div>
      <div class="single-video">
        <ion-row>
          <ion-col size="5">
            <img style="width: 185px; height: 102px;" src="https://img.youtube.com/vi/cQzien5H2Do/mqdefault.jpg">
          </ion-col>
          <ion-col size="7">
            <h6 style="margin:0px;"> Materail Design Motion </h6>
            <p style=" font-size:small;">Google Design <br>
              187K Views . 6 years ago
            </p>
          </ion-col>
        </ion-row>
      </div>
      <div class="single-video">
        <ion-row>
          <ion-col size="5">
            <img style="width: 185px; height: 102px;" src="https://img.youtube.com/vi/w2JUhDd0CAA/mqdefault.jpg">
          </ion-col>
          <ion-col size="7">
            <h6 style="margin:0px;"> Google's Material Design: An In- <br>Depth Look | Mashable </h6>
            <p style=" font-size:small;"> Mashable<br>
              221K Views . 7 years ago
            </p>
          </ion-col>
        </ion-row>
      </div>
      <div class="single-video">
        <ion-row>
          <ion-col size="5">
            <img style="width: 185px; height: 102px;" src="https://img.youtube.com/vi/rrT6v5sOwJg/mqdefault.jpg">
          </ion-col>
          <ion-col size="7">
            <h6 style="margin:0px;"> 5 Best Design System and <br> How to Learn (and Steal) Form ... </h6>
            <ion-row>
              <ion-col>
                <p style=" font-size:small;">Designer Up <br>
                  51K Views . 2 years ago
                </p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
      <div class="single-video">
        <ion-row>
          <ion-col size="5">
            <img style="width: 185px; height: 102px;" src="https://img.youtube.com/vi/linlz7-Pnvw/mqdefault.jpg">
          </ion-col>
          <ion-col size="7">
            <h6 style="margin:0px;"> SWITZERLAND IN 8K ULTRA HD <br> HDR - HEAVEN OF EARTH (60FPS)</h6>
            <ion-row>
              <ion-col>
                <p style=" font-size:small;"> 8K WORLD <br>
                  51K Views . 2 years ago
                </p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
      <div class="single-video">
        <ion-row>
          <ion-col size="5">
            <img style="width: 185px; height: 102px;" src="https://img.youtube.com/vi/k7pks7yqQOc/mqdefault.jpg">
          </ion-col>
          <ion-col size="7">
            <h6 style="margin:0px;"> 5 Best Design System and <br> How to Learn (and Steal) Form ... </h6>
            <ion-row>
              <ion-col>
                <p style=" font-size:small;">Designer Up <br>
                  51K Views . 2 years ago
                </p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
      <div class="single-video">
        <ion-row>
          <ion-col size="5">
            <img style="width: 185px; height: 102px;" src="https://img.youtube.com/vi/nI-L8Xp76Hs/mqdefault.jpg">
          </ion-col>
          <ion-col size="7">
            <h6 style="margin:0px;"> 5 Best Design System and <br> How to Learn (and Steal) Form ... </h6>
            <ion-row>
              <ion-col>
                <p style=" font-size:small;">Designer Up <br>
                  51K Views . 2 years ago
                </p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
      <div class="single-video">
        <ion-row>
          <ion-col size="5">
            <img style="width: 185px; height: 102px;" src="https://img.youtube.com/vi/8AkLfYOgIrE/mqdefault.jpg">
          </ion-col>
          <ion-col size="7">
            <h6 style="margin:0px;"> 5 Best Design System and <br> How to Learn (and Steal) Form ... </h6>
            <ion-row>
              <ion-col>
                <p style=" font-size:small;">Designer Up <br>
                  51K Views . 2 years ago
                </p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
</ion-content>